.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 1000;
}

.modal {
  position: absolute;
  top: 64px;
  right: 24px;

  background-color: lightgray;
  padding: 16px;
  border-radius: 8px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.modalList {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 12px;
}